@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Signika Negative';
    background-image: url("./images/1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}